body
  font-family: $main-font-family
  font-size: $main-font-size
  color: $fg-color
  background-color: $bg-color
  overflow: hidden

*,
*:before,
*:after
  box-sizing: border-box

#container
  overflow: hidden
