body
  font-family: $main-font-family
  font-size: $main-font-size
  color: $fg-color
  background-color: $bg-color
  overflow: hidden

*,
*:before,
*:after
  box-sizing: border-box

#container
  overflow: hidden

#title
  font-family: 'La Belle Aurore', cursive
  font-size: 2.5em
  text-align: center
  line-height: $sandbox-top
  color: #c94d5b

h1.label
  font-family: $terminal-font-family
  font-size: $main-font-size
  text-align: center
  line-height: 40px

a.link-brand
  text-decoration: none

button
  display: inline-block
  margin-bottom: 0
  font-size: 14px
  font-weight: 400
  line-height: $terminal-line-height
  text-align: center
  white-space: nowrap
  vertical-align: middle
  cursor: pointer
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  background-image: none
  border: 1px solid transparent
  border-radius: 4px
  color: $bg-color
  background-color: $fg-color
  border-color: $border-color

.nav-back
  position: absolute
  top: 0
  left: 0
  padding: 8px 12px
  height: 35px

.nav-back a
  color: $fg-color
  text-decoration: none
  line-height: 20px
  height: 100%
  display: block
  vertical-align: top
  &:hover,
  &:active
    color: darken($fg-color, 10%)
    text-decoration: underline

span.back-arrow
  font-size: 200%
  line-height: 15px
  height: 100%
  display: inline-block
  vertical-align: top
