#message-banner
  text-align: center

#message-banner span
  display: block
  width: 100%

span.success,
span.warning,
span.info,
span.danger
  padding: 16px
  border: 1px solid transparent

span.success
  color: #468847
  background-color: #DFF0D8
  border-color: #D6E9C6

span.warning
  color: #C09853
  background-color: #FCF8E3
  border-color: #FBEED5

span.info
  color: #31708f
  background-color: #d9edf7
  border-color: #bce8f1

span.danger
  color: #a94442
  background-color: #f2dede
  border-color: #ebccd1
