#terminal
  position: absolute
  left: $terminal-border-left
  right: $terminal-border-right
  top: $sandbox-top
  bottom: $sandbox-bottom
  border-left: 2px solid $border-color
  border-right: 1px solid $border-color
  border-bottom: 2px solid $border-color
  font-family: $terminal-font-family
  font-size: $terminal-font-size
  overflow-y: auto

#terminal h1
  font-family: $main-font-family
  font-size: $main-font-size
  text-align: center
  line-height: 40px
  border-bottom: 1px solid $border-color

#terminal-content
  padding: 8px 14px

#terminal-input
  width: 100%
  margin: 0
  padding: 6px 0 6px 27px
  color: $fg-color
  font-family: $terminal-font-family
  font-size: 100%
  line-height: $terminal-line-height
  background-color: $bg-color
  border: none

#terminal-input:focus,
#terminal-input:active
  outline: none

#terminal-prompt
  padding: 0
  display: block
  margin-top: -24px
  font-size: 100%

#terminal .outputs
  padding: 6px 0
  font-size: 100%
  line-height: $terminal-line-height

#terminal .outputs-status
  color: #2ecc71

#terminal .outputs-input
  color: #8d57c2

#terminal .outputs-input:before
  content: '>> '

#terminal .outputs-output
  color: #e6db74

#terminal .outputs-error
  color: #ff4d4d
