/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**
 * Regular CSS
 */

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
	color: #ffffff;
	background-color: #333333;
	overflow: hidden;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

#container {
	overflow: hidden;
}

/* conn status */
#conn-status {
  text-align: center;
}

span.success,
span.warning {
  display: block;
  width: 100%;
  padding: 16px;
  border: 1px solid transparent;
}

span.success {
  color: #468847;
  background-color: #DFF0D8;
  border-color: #D6E9C6;
}

span.warning {
  color: #C09853;
  background-color: #FCF8E3;
  border-color: #FBEED5;
}

/* terminal */
#terminal {
  position: absolute;
  left: 0;
  right: 50%;
  top: 50px;
  bottom: 100px;
	border-left: 2px solid #cccccc;
	border-right: 1px solid #cccccc;
	padding: 15px 10px;
  font-family: Consolas, sans-serif;
	overflow-y: auto;
}

#terminal-input {
  width: 100%;
	margin: 0;
	padding: 6px 0 6px 27px;
	color: #ffffff;
	font-family: Consolas, sans-serif;
	font-size: 100%;
	background-color: #333333;
	border: none;
}

#terminal-input:focus,
#terminal-input:active {
	outline: none;
}

#terminal-prompt {
	padding: 6px 0;
	display: block;
	margin-top: -30px;
}

#terminal .outputs {
	padding: 6px 0;
}

#terminal .outputs-welcome {
  color: #8888bb;
}

#terminal .outputs-input {
  color: #88bb88;
}

#terminal .outputs-input:before {
  content: '>> ';
}

#terminal .outputs-output {
  color: #bb88bb;
}

/* inventory */
#inventory {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 50%;
	border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  border-top: 1px solid #cccccc;
	border-bottom: 2px solid #cccccc;
}

#inventory .item {
	float: left;
	height: 100%;
	width: 20%;
	border-left: 1px solid #cccccc;
}

/* source */
#source {
  position: absolute;
  left: 50%;
  right: 0;
  top: 50px;
  bottom: 0;
	border-left: 1px solid #cccccc;
	border-right: 2px solid #cccccc;
	border-bottom: 2px solid #cccccc;
	padding: 15px 10px;
}

#source .source-file {
	float: left;
}

#source .source-file label {
	padding: 6px 4px;
	background: #555555;
	border: 1px solid #cccccc;
	margin-left: 1px;
	position: relative;
	left: 1px;
}

#source .source-file input[type=radio] {
	display: none;
}

#source .source-file-content {
	background: #333333;
	position: absolute;
	top: 38px;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 20px 10px;
	border-top: 1px solid #cccccc;
}

#source .source-file input[type=radio]:checked ~ label {
	background: #333333;
	border-bottom: 1px solid #333333;
	z-index: 2;
}

#source .source-file input[type=radio]:checked ~ label ~ .source-file-content {
	z-index: 1;
}

#source-actions {
	float: right;
}
